* {
    margin: 0;
    padding: 0;
    font-family: Figtree-Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
header {
    display: flex;
    background-color: peachpuff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.myntra_home {
    height: 45px;
    
}
.logo_container {
    margin-left: 4%;
}
.action_bar {
    margin-right: 4%;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
}